above($above, $vertical = false)
  if $vertical
    @media screen and (min-height: $above)
      {block}
  else
    @media screen and (min-width: $above)
      {block}

below($below, $vertical = false)
  if $vertical
    @media screen and (max-height: $below)
      {block}
  else
    @media screen and (max-width: $below)
      {block}

between($low, $high, $vertical = false)
  if $vertical
    @media screen and (min-height: $low) and (max-height: $high)
      {block}
  else
    @media screen and (min-width: $low) and (max-width: $high)
      {block}

hide-at($screen-size)
  @media screen and (max-width: $screen-size)
    display: none

full-width-at($screen-size)
  @media screen and (max-width: $screen-size)
    width: 100%

center-text-at($screen-size)
  @media screen and (max-width: $screen-size)
    text-align: center

ellipsis($width = false)
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  if $width
    width: $width

size($width, $height = $width)
  height: $height
  width: $width

retina-background-image($name, $extension = png)
  background-image: url("{$name}.{$extension}")
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: (:div 2 1)),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx)
    background-image: url("{$name}@2x.{$extension}")
    background-size: cover
