:root {
  /*System font variable*/
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/*Units*/
  --u-micro: 8px;
  --u-small: 16px;
  --u-medium: 32px;
  --u-large: 48px;
  --u-xl: 72px;
  --u-jumbo: 144px;

  /*Breakpoints & Custom Media */
  @custom-media --xs (width < 20em);      /* 320px */
  @custom-media --s (width < 37.5em);       /* 600px */
  @custom-media --m (width < 48em);       /* 768px */
  @custom-media --l (width < 64em);       /* 1024px */
  @custom-media --xl (width < 80em);      /* 1280px */

  @custom-media --above-xs (width >= 20em);
  @custom-media --above-s (width >= 37.5em);
  @custom-media --above-m (width >= 48em);
  @custom-media --above-l (width >= 64em);
  @custom-media --above-xl (width >= 80em);
  @custom-media --above-hd (width >= 112.5em);

  @custom-media --retina (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
  @custom-media --landscape (orientation: landscape);
  @custom-media --portrait (orientation: portrait);

  /*Breakpoints + custom media usage…
  .foo {
    border: 1px solid green;

    @media (--above-s) {
      border: 3px solid red
    }
  }*/
}
