// Typography
// ==================================
$font-system = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// Breakpoints
// Targeting tablet portrait = +between($small-screen, $medium-screen)
// Targeting tablet landscape = +between($medium-screen, $large-screen)
// ==================================
$screen-small = 37.5em
$screen-medium = 56.25em
$screen-large = 75rem
$screen-jumbo = 112.5em

// Blocks
// for spacing, sizing, measuring etc.
// ==================================
$block-micro = .5rem
$block-small = 1rem
$block-medium = 2rem
$block-large = 3.5rem
$block-xlarge = 4rem
$block-jumbo = 6rem
