// Typography
$font-system = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// Breakpoints
$screen-xsmall = 20em
$screen-small = 37.5em
$screen-medium = 48em
$screen-large = 64rem
$screen-xlarge = 80em

// Units
$u-micro = .5rem
$u-small = 1rem
$u-medium = 2rem
$u-large = 3.5rem
$u-xl = 4rem
$u-jumbo = 6rem
